doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://www.gstatic.com/firebasejs/4.3.0/firebase.js')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/cliente.js')
  body
    block content
